.productListContainer {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.firstCap {
  transform: capitalize;
}

.fs-lg {
  font-size: 2rem;
}

.fs-bold {
  font-weight: bold;
  color: black;
}
.fs-bold:hover {
  color: #3388ff;
}

.cartBadge {
  border-radius: 50%;
  margin-left: 0.5%;
}

.cartItemImg {
  width: 20%;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.cartItemInput {
  width: 30%;
}

.shadowBoxLight {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .cartItemImg {
    height: 150px;
  }
  .cartItemInput {
    width: 10%;
  }
}
